<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>GameJS</title>
  </head>
  <body>
    <div class="header">
      <a href="about" class="logo">GameJS</a>
      <div class="header-right">
        <a href="offline">Offline</a>
        <a href="online">Online</a>
      </div>
    </div>
 
    <h1>GameJS</h1>
    <p>Version <%= GameJSVersion %><br>
    Made by Jack Freund (<a href="https://github.com/Jackkillian">Jackkillian on GitHub</a>)<br>
    </p>
    <h1>Other Copyrights</h1>
    <p>jQuery copyright JS Foundation and other contributors, https://js.foundation/</p>
    <p>Phaser copyright © 2020 Richard Davey, Photon Storm Ltd.</p>
    <h1>System Info</h1>
    <p>NodeJS version: <span id="node-version"></span><br>
    Electron version: <span id="electron-version"></span><br>
    Chromium version: <span id="chrome-version"></span></p>
  </body>
</html>
