<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>GameJS</title>
  </head>
  <body>
    <div class="header">
      <a href="about" class="logo">GameJS</a>
      <div class="header-right">
        <a href="/offline">Offine</a>
        <a class="active" href="/online">Online</a>
      </div>
    </div>
    <!--Thanks to niutech on GitHub for how to set up x-frame-bypass-->
    <script type="module" src="https://unpkg.com/x-frame-bypass"></script>
    <div id="frame">
      <h3 style="font-family:sans-serif;">Game Catalog</h1>
      <iframe is="x-frame-bypass" src="https://crazygames.com" scrolling="yes"></iframe>
    </div>
  </body>
</html>