<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>GameJS</title>
  </head>
  <body>
    <div class="header">
      <a href="about" class="logo">GameJS</a>
      <div class="header-right">
        <a class="active" href="offline">Offine</a>
        <a href="online">Online</a>
        <a href="#about">hb</a>
      </div>
    </div>
    We are using Node.js <span id="node-version"></span>,
    Chromium <span id="chrome-version"></span>,
    and Electron <span id="electron-version"></span>.
  </body>
</html>
